# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
/.dart_tool/*

# IntelliJ related
/.idea/*
!/.idea/runConfigurations/

# Symlink created by the mise VS Code extension. See docs/contributing/GET_STARTED.md.
.vscode/mise-tools/
